#today-info-list>li,
#today-details-list>li {
    display: inline-block;
    margin: 15px;
}

#today-info {
    float: left;
}

#today-forecast,
#current-info,
#today-details,
#week-info {
    background-color: #EAECEF;
    padding: 7px;
    background-clip: content-box;
    border-radius: 25px;
    overflow: hidden;
}