#today-info-list>li,
#today-details-list>li {
    display: inline-block;
    margin: 15px;
}

#main {
    display: flex;
}

#today-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
}

#today-forecast,
#today-details,
#week-info {
    background-color: #EAECEF;
    padding: 7px;
    background-clip: content-box;
    border-radius: 25px;
    overflow: hidden;
}

#current-info,
#current-image {
    flex: 1 1 0;
}

#today-forecast,
#today-details {
    flex: 100%;
    order: 3;
}

#week-info {
    float: right;
}

#search-box>input {
    border-radius: 25px;
    width: 500px;
    height: 30px;
    background-color: #EAECEF;
    border: #EAECEF;
}